body {
    background-color: #d6e1f0;
    font-size: .5em;
    font-family: 'Segoe UI', sans-serif;


}


.parent {
    position: relative;
    background-color: #ffffff;
    border-radius: 3%;
    width: 175px;
    height: 269px;
    margin: 10% auto;
    





}






.container {
    position: relative;
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding-top: .7rem;
    justify-content: center;






}

.qr {
    border-radius: 10%;
    height: 100%;
    width: 100%;

}

.header {
    color: #636b81;
}

.p {
    color: #c2c4c7;
}